<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <property name="connection.url">jdbc:mysql://localhost:3306/deneme?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;serverTimezone=UTC</property>
    <property name="connection.username">root</property>
    <property name="connection.password">12345</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="connection.autocommit">true</property>

    <property name="hbm2ddl.auto">update</property>


    <!--<mapping class="domain.Pojo" ></mapping>-->
    <!-- JDBC connection pool settings ... using built-in test pool -->
    <property name="connection.pool_size">1</property>

    <!-- Select our SQL dialect -->
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

    <!-- Echo the SQL to stdout -->
    <property name="hibernate.c3p0.testConnectionOnCheckout"/>

    <!-- Set the current session context -->
    <property name="current_session_context_class">thread</property>


    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>